<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>viewer</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Activity Documentation Data Ktp</div>
        <hr />
        <p th:text="${dataktp}"></p>
        <table border="2", style="width:70%">
            <tr th:each ="kolom:${tabel}">
                <td th:text="${kolom[0]}"></td>
                <td th:text="${kolom[1]}"></td>
                <td th:text="${kolom[2]}"></td>
                <td th:text="${kolom[3]}"></td>
            </tr>   
        </table>
    </body>
</html>
